.titleBox {
	height: 200px;
	line-height: 200px;
	padding: 0px;
	margin: 0px
}

.no-padding {
	padding: 0
}

.alignVertical {
	margin: 0px;
	padding: 5% 0px
}

.section {
	background-size: cover;
}

#section0 {
	background-image: url("./images/eventCoverPhoto.jpg");
}

#section1 {
	width: 100%;
    height: 1000px;
}

#section2 {
	width: 100%;
    height: 1000px;
}

#section3 {
	/*background-image: url("./images/insideDowntownAustinSkyline.jpg")*/
	/*padding: 6% 0 0 0;*/
}

body {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: 80px;
	font-weight: bold;
	color: white;
}

h3 {
	font-size: 44px;
	color: white;
}

#fp-nav ul li a span {
    background: white;
    width: 10px;
    height: 10px;
    margin: -4px 0 0 -4px;
}

a {
	color: white;
}

a:hover,
a:focus {
  color: white;
  text-decoration: none;
}

#infoMenu {
    margin-right: 200px;
    position: fixed;
    z-index: 70;
    bottom: 0;
    right: -175px;
    width: 100%;
    text-align: right;
    list-style-type: none;
}

#gif {
	margin-left: 27.5px;
}