.titleBox {
	height: 200px;
	line-height: 200px;
	padding: 0px;
	margin: 0px
}

.no-padding {
	padding: 0
}

.alignVertical {
	margin: 0px;
	padding: 5% 0px
}

.section {
	background-size: cover;
}

#section0 {
	background-image: url("./images/eventCoverPhoto.jpg");
}

#section3 {
	/*background-image: url("./images/insideDowntownAustinSkyline.jpg")*/
	/*padding: 6% 0 0 0;*/
}

body {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: 80px;
	font-weight: bold;
	color: white;
}

h3 {
	font-size: 44px;
	color: white;
}

#attribution {
	color: grey;
	font-size: 20px; 
	align-content: center;
	vertical-align: bottom;
}

#fp-nav ul li a span {
    background: white;
    width: 10px;
    height: 10px;
    margin: -4px 0 0 -4px;
}